body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 50px;
  background: url(/Images/The\ Digital\ Age.jpg);
  font-family: Arial, sans-serif;
}

.card {
  width: 320px;
  padding: 20px;
  background: url(/Images/simple-blue-curved-background-vector-business_53876-168088.avif);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
  margin-bottom: 20px;
}

p {
  text-align: left;
  margin-left: 30px;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: px;
  cursor: pointer;
}

button:hover {
  background: rgb(255, 254, 254);
  color: black;
}